.trapezoid {
  width: 75%;
  height: 30px;
  /* border: 3px solid transparent; */
  /* border-image: linear-gradient(to bottom, black, lightgreen); */
  background-image: linear-gradient(to bottom, black, white);
  /* border-image-slice: 1; */
  position: relative;
  opacity: 0.5;
}

.trapezoid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 20px;
  border-top: 30px solid white;
  border-right: 10px solid transparent;
}
.trapezoid::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 20px;
  border-top: 30px solid white;
  border-left: 10px solid transparent;
}
