/* custom dot carousel */
.ant-carousel .slick-dots li {
  width: auto !important;
}
.ant-carousel .slick-dots li button {
  background: white !important;
}
.ant-carousel .slick-dots li.slick-active button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.ant-carousel .slick-dots li.slick-active {
  width: auto !important;
}
.ant-carousel .slick-dots li button {
  height: 15px !important;
  width: 15px !important;
  border-radius: 50% !important;
  margin: 0 10px;
}

/* custom tab*/

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  color: black;
  font-weight: 700;
}

.ant-tabs-tab:hover {
  color: rgb(202 138 4) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(202 138 4) !important;
}
/* custom cái thanh bên phải của tab active  */
.ant-tabs-ink-bar {
  background: rgb(202 138 4) !important;
}

/* custom tag a  */
/* a:hover {
  color:  !important;
} */

/* custom arrow in carousel  */
.arrowStyle {
  font-size: 70px;
  position: absolute;
  top: 40%;
  z-index: 10;
}

.pauseStyle:hover {
  transform: scale(1.5);
  opacity: 0.5;
  transition-duration: 0.5s;
}
.pauseStyle:hover h3 img {
  filter: invert(100%);
}
.arrowStyle.arrowLeft:hover {
  opacity: 0.5;
  transform: translateX(-20px);
  transition-duration: 0.5s;
}
.arrowStyle.arrowRight:hover {
  opacity: 0.5;
  transform: translateX(20px);
  transition-duration: 0.5s;
}
